html,
body {
    font-family: "NanumBarunGothic", sans-serif;
}
body {
    width: 402px;
    height: auto;
    min-height: 874px;
    position: relative;
}
.sr-only {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    font-size: 1px;
    opacity: 0.01;
    clip: rect(1px, 1px, 1px, 1px);
}

/* 모달 */
.modal_background {
    display: none;
    position: fixed;
    width: 402px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.modal_background.active {
    display: block;
}
.modal_background.active .modal_cont {
    position: fixed;
    width: 402px;
    bottom: 0;
    box-sizing: border-box;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 24px;
    background-color: #ffffff;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.2);
}
.modal_background .modal_cont h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 32px;
}
.modal_background .modal_cont h3 {
    margin-bottom: 12px;
    color: #393b40;
    font-size: 18px;
}
.modal_background .modal_cont .option + h3 {
    margin-top: 32px;
}
.modal_background .modal_cont .option .option_item {
    display: block;
}
.modal_background .modal_cont .option .option_item > label {
    font-size: 16px;
}
.modal_background .modal_cont .option .option_item + .option_item {
    margin-top: 12px;
}
.modal_background .modal_cont .option .radio_text {
    display: block;
    color: #696c71;
    font-size: 13px;
    margin-top: 10px;
    padding-left: 28px;
}
.modal_background .modal_cont .option .radio_text + .option_item {
    margin-top: 12px;
}
.modal_cont .close_modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
}
.modal_cont .close_modal > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.main {
    position: relative;
}
/* navigation */
.navi_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 14px 16px;
}

.navi_top .arrow {
    position: relative;
    width: 24px;
    height: 24px;
}
.navi_top .arrow > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.navi_top .search_cont {
    position: relative;
}
.navi_top .search_cont .search {
    background-color: #f7f7f7;
    height: 28px;
    width: 162px;
    padding: 0 8px;
    border-radius: 4px;
    font-size: 16px;
}
.navi_top .search_cont .search_btn {
    position: absolute;
    right: 8px;
    top: 6px;
    width: 16px;
    height: 16px;
}
.navi_top .search_cont .search_btn > img {
    width: 100%;
    height: 100%;
}
.navi_top .black {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    padding: 5.5px 7.96px;
    border-radius: 4px;
    font-size: 12px;
}
.navi_top .black.icon {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navi_top .black.icon > img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.navi_top .more {
    width: 24px;
    height: 24px;
}
.navi_top .more > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* update_cont */
.update_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fa2d42;
    font-weight: 600;
    margin-top: 20px;
    padding: 12px 24px 8px;
}
.update_cont .amount_text {
    font-size: 24px;
}
.update_cont .comparison_text {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding-left: 50px;
    position: relative;
}
.update_cont .comparison_text::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url("./icon/arrow_up.png") center / contain no-repeat;
}
.update_cont .percent .percent_cont {
    font-size: 24px;
}
.update_sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #878d97;
    padding: 0 24px 12px;
    font-weight: 400;
    border-bottom: 1px solid #d4d7dd;
}
.update_sub .sub_fix {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 13px;
}
.update_sub .sub_fix .time,
.update_sub .sub_fix .high,
.update_sub .sub_fix .low,
.update_sub .sub_update {
    display: flex;
    align-items: center;
    gap: 4px;
}
.update_sub .sub_update {
    font-size: 13px;
}
.container {
    display: flex;
}
.container section.table {
    flex: 2;
}
/* 1. 매도 */
.container section table {
    width: 100%;
}
.container section.table,
th,
td {
    border: 1px solid #f0f0f0;
    border-collapse: collapse;
}

.container section.table .selling tbody tr {
    display: flex;
    flex-direction: row-reverse;
}
.container section.table .selling tbody tr td.change_price,
.container section.table .buying tbody tr td.change_price {
    flex: 2;
    position: relative;
    padding: 4px 10px;
    color: #fa2d42;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
}
.container section.table .selling tbody tr td.change_price.text_badge::before {
    content: "고";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 13px;
    bottom: 6.5px;
    width: 12px;
    height: 12px;
    background-color: #fa2d42;
    font-size: 6px;
    border-radius: 50%;
    color: #ffffff;
}
.container section.table .selling tbody tr td.change_price > span,
.container section.table .buying tbody tr td.change_price > span {
    display: block;
    font-size: 12px;
    font-weight: 400;
}
.container section.table .selling tbody tr td.change_quantity {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    padding: 13.5px 0;
    font-size: 12px;
    background-color: #f0f7fb;
    text-align: right;
}
.container section.table .selling tbody tr td.change_quantity {
    border-left: none;
}
.container section.table .selling tbody tr td.change_number {
    display: flex;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    font-size: 12px;
    color: #fa2d42;
    background-color: #f0f7fb;
    border-right: none;
}
.container section.table .selling tbody tr td.change_number > span {
    padding-left: 10px;
}

/* 2. 상세정보 */
.container section.description_box {
    flex: 1;
    font-size: 9px;
    font-weight: 400;
    margin: auto 0;
}
.container section.description_box .description_padding {
    padding: 0 10px;
}
.container section.description_box .description_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container section.description_box .description_item + .description_item {
    margin-top: 6px;
}
.container section.description_box .description_item > span {
    color: #767d8b;
}
.container section.description_box .description_item > span > span {
    display: block;
}
.container section.description_box .description_item > .description_amount {
    color: #000000;
}
.container section.description_box .description_item > .description_amount.red {
    color: #fa2d42;
}
/* 3. 현재가 */
.now_price {
    display: flex;
    background-color: #fff5c8;
}
.now_price > div {
    flex: 1;
    padding: 4px 10px;
}
.now_price > div + div {
    border-left: 1px solid #d9d9d9;
}
.now_price .price_item {
    text-align: right;
    box-sizing: border-box;
}
.now_price .price_item .price {
    display: block;
    color: #fa2d42;
    font-weight: 600;
    font-size: 15px;
}
.now_price .price_item .price.text_badge {
    position: relative;
}
.now_price .price_item .price + .price {
    margin-top: 10px;
}
.now_price .price_item .price.text_badge::before {
    content: "K";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #02c2ac;
    font-size: 6px;
    border-radius: 50%;
    color: #ffffff;
}
.now_price .price_item .price.text_badge.yellow::before {
    content: "N";
    background-color: #ffaa00;
}
/* 4. 매수 */
.container.reverse {
    flex-direction: row-reverse;
}
.container section.table .buying tbody tr {
    display: flex;
}
.container section.table,
.container section.table .buying tbody tr td.change_quantity {
    border-right: none;
}
.container section.table .buying tbody tr td.change_quantity {
    flex: 1;
    position: relative;
    padding: 13.5px 10px;
    font-size: 12px;
    background-color: #fff7f6;
    text-align: right;
}
.container section.table .buying tbody tr td.change_quantity.number_badge {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container section.table .buying tbody tr td.change_quantity.number_badge > span {
    font-size: 12px;
    color: #fa2d42;
}
.container section.table .buying tbody tr td.change_number {
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 1;
    box-sizing: border-box;
    font-size: 12px;
    color: #fa2d42;
    background-color: #fff7f6;
    border-left: none;
}
.container section.table .buying tbody tr td.change_number > span {
    padding-right: 10px;
}

/* 5. 체결강도 */
.container section.description_box.conclusion {
    font-size: 12px;
    font-weight: 400;
    margin: inherit;
    border-bottom: 1px solid #f0f0f0;
}
.container section.description_box.conclusion div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.container section.description_box div.conclusion {
    color: #767d8b;
    padding: 8px 10px;
    border-bottom: 1px solid #f0f0f0;
}
.container section.description_box .conclusion > span {
    color: #000000;
}
.container section.description_box .description_conclusion {
    color: #fa2d42;
}
/* 6. 거래량 종합 */
section.total {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}
section.total > div {
    flex: 1;
    padding: 14px 10px;
    box-sizing: border-box;
}
section.total > div + div {
    border-left: 1px solid #f0f0f0;
}
section.total .total_selling {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
section.total .total_selling .selling_amount {
    color: #fa2d42;
}
section.total .total_amount {
    text-align: center;
    padding: 6px 10px;
}
section.total .total_amount strong {
    font-weight: 600;
}
section.total .total_amount > span {
    display: block;
    margin-top: 4px;
}
section.total .total_buying {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.total .total_buying .buying_amount {
    color: #1779fa;
}

/* stock_chart */
body .container_table + .container_sound {
    margin-top: 40px;
}
body .container_sound {
    border-top: 1px solid #d4d7dd;
    padding-top: 30px;
}
